/* Hide certain areas of the snippet screen area
------------------------------------------------------------ */

#wp-admin-bar-view,
#edit-slug-box,
#cwwp-code-snippet,
.CodeMirror,
#side-sortables {
	display: none;
}

#icon-edit.icon32-posts-cwwp-custom-snippets {
	background: url(images/title-icon.png) no-repeat scroll 0 50%;
	height: 34px;
	width: 32px;
}

.CodeMirror {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #eee;
	margin-bottom: 20px;
}

.postbox-container h4.top-title {
	margin-top: 0;
}

.postbox-container h4 {
	font-size: 1.25em;
	margin-bottom: 0;
}

.postbox-container p {
	margin-top: 0;
}

.wp-editor-wrap {
	margin-bottom: 20px;
}

#publishing-action {
	float: left;
}

#delete-action {
	margin-left: 10px;
}

#delete-action .ajax-loading {
	margin-left: 10px;
	vertical-align: middle;
}